
.top-bar-header{
    width: 100%;
    position: relative;

}

nav{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
nav .logo{
    font-size: 16px;
}
.nav-itens ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
}
.nav-itens ul li{
    margin: 5px 0;
}
.nav-itens{
    margin-top: 20px ;
}

/* Subtitle */


/* about */


.about{

    flex-direction: column;
}

.about .about-content{
    width: 500px;
    flex-direction: column;
}

.about .about-content .about-info{

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .more-about{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.more-about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

/* Learn */

.learn-section .learn-content{
    width: 400px;
    padding: 15px 0;
}

.learn-section .learn-bottom{
    flex-direction: column;
}

/* Projects */

.projects-content .projects{
    width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Contact */

.contact .content{
    flex-direction: column;
    font-size: 20px;
}
.contact .content img{
    width: 300px;
}

/* Footer */

footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    bottom: 0;
    left: 0;
}
