html{
    width: 100vw;
}
.top-bar-header{
    width: 100vw;
    position: fixed;


}

nav{
    
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
nav .logo{
    margin-top: 9px;
    font-size: 16px;
}
.nav-itens ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
}
.nav-itens ul li{
    margin: 10px 0;
}
.nav-itens{
    margin-top: 20px ;
}

/* Subtitle */

.subtitle h6{
    display: flex;
}

/* about */


.about{

    flex-direction: column;
}

.about .about-content{
    width: 100vw;
    flex-direction: column;
}

.about .about-content .about-info{

    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .about-content .about-info img{
   width: 150px;
   height: 150px;
}
.about .about-content .about-info p{
    width: 80%;
    
}
.about .more-about{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.more-about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

/* Learn */

.learn-section .learn-content{
    width: 100vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.learn-section .learn-bottom{
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learn-content .learn-bottom .learn-item{
    width: 70%;
    height: 300px;
    padding: 20px 20px;
}
.learn-content .learn-bottom .learn-item p{
   width: 80%px;
}
/* Projects */

.projects-content .projects{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-content .projects .project{
    width: 250px;

}
.projects-content .projects .project img{
    width: 100%;
   

}
/* Contact */

.contact .content{
    flex-direction: column;
    padding: 0;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.contact .content .contact-list{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact .content .contact-list a{
    width: 50px;
    font-size: 13px;
    width: 300px;
    padding: 0;
}
.contact div .content{
    padding: 0px;
}
/* Footer */

footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;

}
footer div p{
 
    width: 200px;
    text-align: center;
    display: flex;
}